.title_tab{width: 500px;height: 30px;}
.title_tab ul li{margin: auto 10px auto 10px;font-size: 20px;}

.li_list_item{width: 968px; height: 150px;background-color: #ffffcc; margin: auto;}
.li_act_l{float: left;display: inline; width: 240px;}
.li_act_m{margin:auto auto auto 250px; width: 500px; font-size: 18px;}
.li_act_r{display:inline; float: right; margin: auto 10px 0 auto;}
.act_detail{cursor:pointer; color:#ff9c00;}
.slash {border: 1px dashed #E4E4E4;line-height: 10px; margin: 2px 0 2px auto; width: 968px; height: 0;}
.title{text-align: center; font-size:18px; font-weight:bold; color:#ff0000;}
.passtitle{text-align: center; font-size:18px; font-weight:bold; color:#828282;}	
}
