/**************************************/
#body_content{
    height:900px;
	width:980px;
    margin: 12px auto auto;
    background-color:#0f0;
    overflow:hidden;
}

#body_content_l{
    width:750px;
    background-color:#f00;
    overflow:hidden;
    display: inline;
    float: left;
}

#feature_list{
    width:750px;
    height: 200px;
    background-color:#ff0;
    overflow:hidden;
    display: inline;
    float: left;
}

#body_content_ld{
    width:750px;
    height: 800px;
    background-color:#f00;
    overflow:hidden;
    display: inline;
    float: left;
}


#body_content_r{
    width:224px;
    background-color:#00f;
    overflow:hidden;
    display: inline;
    float: right;
}

div#feature_list {width: 741px;height: 180px;overflow: hidden;position: relative;margin:0 auto;}
div#feature_list ul {position: absolute;top: 0;list-style: none;    padding: 0;margin: 0;}
ul#tabs {left: 0;z-index: 2;width: 320px; background:url(http://cache.adm.cnzz.net/ad_images/2012/2012-06-12/20120612145948-8iFjNFOL74.gif)}
ul#tabs li {font-size: 12px;font-family: Arial;}
ul#tabs li h3{margin: 0;    padding: 6px 0 5px 0;font-size: 15px;text-transform: uppercase; font-family:"微软雅黑"; color:#959595}
ul#tabs li img {padding: 2px;border: none;float: left;margin: 8px; width:32px; height:32px}
ul#tabs li a {color: #222;text-decoration: none;    display: block;padding-top:3px;height: 57px;outline: none;}
ul#tabs li a:hover {text-decoration: underline;}
ul#tabs li a.current {background:  url('../images/feature-tab-current.gif');color: #FFF;}
ul#tabs li a.current:hover {text-decoration: none;cursor: default;}
ul#output {right: 0;width: 463px;height: 180px;position: relative;}
ul#output li {position: absolute;width: 463px;height: 180px;}