.clearall:after {content:".";display:block;clear:both;height:0;visibility:hidden;}
.bbs_floor{margin-bottom:5px;background:#efefef; width:980px;border-top:0 none; height:auto;}
.bbs_floor_fr{width:776px; float:right;height:auto;background:#fafafa;border:1px solid #f6dab0;}
.view-hd{padding-left:10px;height:39px;line-height:39px;background: url(../Images/bbs/blog_title.png) repeat-x; width:766px;}
.cont-hd {margin-bottom:10px;padding-top:5px;line-height:24px;border-bottom:1px dashed #DDD;_zoom:1;overflow:hidden; width:756px; padding-left:10px; padding-right:10px;height:auto;}
.cont-bd {position:relative;_zoom:1;padding-bottom:10px;float:right;margin-top: 10px;}
.view-cont{margin-bottom:10px;width:756px;font-size:14px;}
.thread-cont {width:756px;min-height:210px;_height:210px;padding-left:10px; padding-right:10px;}
.view-ft {position:relative;min-height:40px;_height:40px; width:754px; margin-left:10px; padding-right:10px;background:url(../images/bbs_qm_line.gif) no-repeat;}
.user-sign {padding:20px 0 0 10px;width:400px;overflow:hidden;}
.user-option {position:absolute;right:10px;bottom:0;}

.author_item {
width: 145px;
float: left;
margin: 10px auto auto 25px;
height: 180px;
}
.headimg, .author {
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
}
.uabout {
font-weight: bold;
position: relative;
height: 38px;
overflow: hidden;
padding-top: 15px;
margin-bottom: 8px;
margin-top: -5px;
}
.uabout a {
float: left;
margin-left: -1px;
padding: 0 6px;
height: 20px;
text-align: center;
border: 1px solid #f9f9f9;
border-left-color: #e8a9a9;
}
.blog_title{float:left; font-size:20px; font-weight:bold;color: #dd0000}
.blog_CTIME{float:right; margin-right: 10px;}

.post-mod {
margin: 0 auto;
padding: 0 auto;
border-top: 1px solid #ededed;
background: #fafafa;
overflow: hidden;
width:980px; border:0px;
}
.post-bd .post-to {
position: relative;
z-index: 9;
margin-top: 20px;
}
.post-bd li {
margin-bottom: 10px;
padding-bottom: 1px;
zoom: 1;
}

.post_wby {
width: 800px;
height: 36px;
border: 1px solid #dddddd;
margin-left: 90px;
border-bottom: 0px;
}
.post-to-mod{
width: 800px;
margin-left: 90px;
}
.post_fbtb_an {
float: left;
width: 20px;
margin-left: 5px;
margin-right: 5px;
padding-top: 10px;
}
.post_fbtb_an_xz {
float: left;
width: 20px;
padding-bottom: 0px;
margin-top: 8px;
margin-left: 5px;
margin-right: 5px;
background: #FFFFFF;
border: 1px solid #fbaf5d;
}

.dis_fc_tbkj {
width: 100%;
margin: 0 auto;
height: 27px;
padding-top: 0px;
}
.dis_fc_table {
width: 100%;
margin: 0 auto;
font-size: 12px;
margin-top: 3px;
_margin-top: -4px;
}

.dis_fc_table table {
width: 100%;
border: 0px;
}
.dis_fc_table table tr td {
height: 32px;
background-color: #FFF;
text-align: center;
vertical-align: middle;
line-height: 32px;
width: 32px;
}
.dis_fc_table table tr td img {
height: 32px;
width: 32px;
border: 0px;
}

.dis_fc_table_p {
width: 100%;
margin: 0 auto;
font-size: 12px;
line-height: 25px;
color: #868686;
margin-top: -14px;
text-align: left;
}

.post-ft {
padding: 25px 0;
text-align: center;
}

.annu_auto {
width: 188px;
margin: 0 auto;
text-align: center;
font-size: 12px;
margin-top: 15px;
}

.red_enter {
display: inline-block;
background: url(../IMAGES/public/bnt_yellow.png) no-repeat center;
height: 22px;
padding-left: 14px;
color: #FFFFFF;
cursor: pointer;
}

.red_enter span {
display: inline-block;
height: 22px;
padding-right: 14px;
line-height: 22px;
}

.self_ans{width:770px; height:50px; border:1px solid #dddddd; padding:15px; padding-top:10px; line-height:24px;margin-left: 90px;}
.fl_top{width:100%;height:30px;background:#E6E6E6}
.fl_top_l{padding-left:10px; float:left; padding-top:5px;line-height:25px;}

/*以下两项布局使文件选择框悬浮*/
.ue-editor{position:relative;z-index:7;}
.dis_fc_bq {
width: 400px;
height: 160px;
border: 1px solid #cbcbcb;
border-right: 2px solid #cbcbcb;
border-bottom: 2px solid #cbcbcb;
position: absolute;
top: 38px;
margin-left: -20px;
background-color: #fff;
z-index: 999;
}

.upfile{height:20px;border:1px solid #7f9db9;width:300px;}
#addimgs{height:140px;line-height:36px;margin-top:10px;display:;text-align:center;}
.main-tip{font-size:18px;margin-left:10px;font-weight: bold;text-align: center}

.ui-widget-overlay {
background: #666666 url("") 50% 50% repeat;
opacity: .50;
filter: Alpha(Opacity=50);
position: absolute;
top: 0;
left: 0;
width: 100%;
}
#jubaodlg{overflow: hidden; min-height: 100px; border:1px solid #7f7f7f;background-color:#ffffff;padding-left:15px;position: absolute;}
.dlg{overflow: hidden; min-height: 100px; border:1px solid #7f7f7f;background-color:#ffffff;padding-left:15px;position: absolute;}
