#body_content{width:980px;margin: 12px auto auto;overflow:hidden;border: 1px solid #f1cb95; padding-bottom: 5px;}
.blog_write_bnt {
background: url("../Images/public/blog_wite.png") no-repeat;
width: 116px;
height: 30px;
font-weight: bold;
text-align: center;
border-width: 0px;
}

