#imfo_edit3{
	height:700px; padding:10px 5px 10px 10px; float:left; margin: 10px auto;
}
.headimg{
	margin:10px; cursor:pointer; width:55px; height:55px;
}
.mainimg{
	width:104px; margin:0 auto; margin-top: 50px;
}
#choice_headimg{width:98px; height:98px;}
.subimg1{padding:2px;border:1px #CCCCCC solid;}
.subimg2{margin-left: -5px; margin-top: 10px;}