.tlq_beta3_sj_box_w{height:196px;background-color:#f5f5f5;width:970px; clear:both; margin: 0 auto; margin-bottom: 5px;}
.tlq_beta3_sj_box_w_l{background-color: #e5e5e5; width:145px; float:left; margin-top: 20px;  height:100px; padding:50px 0px 0 0px;}
.tlq_beta3_sj_box_w_l_name{ height:20px; width:80px; text-align:center;margin:0 auto; margin-top:6px; clear:both; }
.tlq_beta3_sj_box_w_r{ float:right; width:762px;height:196px; padding:0 18px 0 0; overflow:hidden;}
.tlq_beta3_sj_box_w_r_top{ height:48px; width:762px;}
.tlq_beta3_sj_box_w_r_top_l{ width:480px; height:48px; line-height:48px; line-height:48px;  float:left; font-weight:bolder; color:#333333;}
.tlq_beta3_sj_box_w_r_top_l_l{ float:left;}

.tlq_beta3_sj_box_w_r_top_r{ width:160px; float:right; color:#797979;  line-height:48px;}
.tlq_beta3_sj_xuxian{ width:100%; background:url(../Images/public/dot.png) repeat-x; height:1px;}
.tlq_beta3_sj_box_w_r_bottom{ height:147px;width:762px;}
.tlq_beta3_sj_box_w_r_bottom_l{ width:404px; float:left;height:137px; line-height:24px; color:#797979; padding-top:6px;}
.tlq_beta3_sj_box_w_r_bottom_r{ width:250px; float:right;height:118px; padding:10px 0 0 16px;}
.tlq_beta3_sj_box_w_r_bottom_r_t{height:60px; }
.tlq_beta3_sj_box_w_r_bottom_r_t ul li{ float:right;height:60px; margin:auto auto 2px 2px;}
.tlq_beta3_sj_box_w_r_bottom_r_b{ margin-top:14px; height:24px; width:194px; float:right; text-align:right; }

.uabout {
	font-weight: bold;
	position: relative;
	height: 38px;
	overflow: hidden;
	padding-top: 15px;
	margin-bottom: 8px;
	margin-top: -5px;
}
.uabout a {
float: left;
margin-left: -1px;
padding: 0 6px;
height: 20px;
text-align: center;
border: 1px solid #f9f9f9;
border-left-color: #e8a9a9;
}
.author{font-weight:bold;padding-left:20px;}