/**************************************/
a {text-decoration:NONE;}
a:link {
color: #000;
text-decoration: none;
}
a:hover {color:#00f;}
.game_content{
    width: 978;
    border: 1px solid #E2E2E2;
}
.dynamic_msg_r a {
color: #248300;
}
.white {
color: #fff;
}