@charset "utf-8";

ul,ol{
    list-style:none;
    margin:0;
    padding:0;
}
.tablebox{margin:0px auto; width:950px;_margin-top:0px}

.ad_tit {height:34px;width:500px; margin-top:5px}
.ad_tit li {float:left;width:110px;text-align:center;height:34px;line-height:30px;}
.ad_tit li a {font-size:14px;}
.ad_tit li.current a{display:inline-block;width:85px;color:#fff;height:32px;font-weight:800;margin-top:2px;background:url(../images/ad_tit_current.gif) no-repeat}

.detail_tit {height:34px;margin-top:5px;font-size:16px; font-weight:bold; font-family:"微软雅黑"}

.list_ad {width:730px;_overflow:hidden; margin-left:12px; margin-top:6px}
.zm {margin-top:7px;color:#818181}
.zm strong {color:#FF6600;font-size:14px;clear:both}
.list_ad li {padding:8px;margin:1px 9px 6px 0;float:left;border:1px solid #E2E2E2;width:155px; height:180px;display:block}
.list_ad li div {left:70px;}
.list_ad li em {color:#595959;font-size:12px;padding:0px 0 0;_padding:0px 0 0;display:block;height:16px;line-height:15px;overflow:hidden}
.list_ad li em img{top:0px;position:relative;}
.list_ad li span {color:red;padding-top:0px;display:block;}
.list_ad li span img{top:0px;position:relative;}
.list_ad li a {border:0;text-align:center;display:block }
.list_ad li a:hover em{color:red}
.list_ad li.current {position:relative;padding:7px;border:2px solid #FF7928;z-index:9}
.list_ad li.current_over {position:relative;padding:7px;border:2px solid #888;z-index:9}
.list_ad li div{display:none;position:absolute;top:112px;left:60px;background:url(../images/bg.png) 0 bottom no-repeat;padding-bottom:7px;}
.list_ad li div span {color:#5A5A5A;line-height:18px;background:url(../images/bg.png) 0 -302px no-repeat;display:block;width:180px;padding:7px 10px 0;overflow:hidden;text-align:left;}
.list_ad li div span p {background:url(../images/ty.gif) 0 0 no-repeat;height:23px;line-height:23px;padding:6px 0 6px 30px;}
.list_ad li div span p.ok{background-position:0 6px;}
.list_ad li div span p.no{background-position:0 -24px;}
.list_ad li.current div, .list_ad li.current_over div{display:block;}

.list_ad_index {width:730px;_overflow:hidden; margin-left:12px; margin-top:6px}
.list_ad_index li {padding:8px;margin:1px 9px 6px 0;float:left;border:1px solid #E2E2E2;width:155px; height:110px;display:block}
.list_ad_index li div {left:70px;}
.list_ad_index li em {color:#595959;font-size:12px;padding:0px 0 0;_padding:0px 0 0;display:block;height:16px;line-height:15px;overflow:hidden}
.list_ad_index li em img{top:2px;position:relative;}
.list_ad_index li span {color:red;padding-top:0px;display:block;}
.list_ad_index li span img{top:0px;position:relative;}
.list_ad_index li a {border:0;text-align:center;display:block }
.list_ad_index li a:hover em{color:red}
.list_ad_index li.current {position:relative;padding:7px;border:2px solid #FF7928;z-index:9}
.list_ad_index li.current_over {position:relative;padding:7px;border:2px solid #888;z-index:9}
.list_ad_index li div{display:none;position:absolute;top:112px;left:60px;background:url(../images/bg.png) 0 bottom no-repeat;padding-bottom:7px;}
.list_ad_index li div span {color:#5A5A5A;line-height:18px;background:url(../images/bg.png) 0 -302px no-repeat;display:block;width:180px;padding:7px 10px 0;overflow:hidden;text-align:left;}
.list_ad_index li div span p {background:url(../images/ty.gif) 0 0 no-repeat;height:23px;line-height:23px;padding:6px 0 6px 30px;}
.list_ad_index li div span p.ok{background-position:0 6px;}
.list_ad_index li div span p.no{background-position:0 -24px;}
.list_ad_index li.current div, .list_ad li.current_over div{display:block;}

.liucheng {margin-top:0px;position:relative;width:743px;overflow:hidden; background:#FFFFFF; background: url(../images/lefttitlebg.gif) top repeat-x; border-top:1px #f1cb95 solid}
.liucheng p {height:31px;background:url(http://cache.adm.cnzz.net/ad_images/2012/2012-07-14/20120714190931-3mzHc9LWRV.png) 0 26px repeat-x;}
.liucheng p em {float:left;width:93px;height:31px;line-height:25px;color:#666666;margin-right:8px;text-indent:7px;display:inline;font-weight:800;cursor:pointer;}
.liucheng p em.current {background:url(http://cache.adm.cnzz.net/ad_images/2012/2012-07-14/20120714190931-3mzHc9LWRV.png) 0 -8px no-repeat;color:#fff}
.liucheng .shiwu {background:url(http://cache.adm.cnzz.net/ad_images/2012/2012-07-14/20120714190931-3mzHc9LWRV.png) 0 -42px no-repeat;height:105px;}
.liucheng .xuli {background:url(http://cache.adm.cnzz.net/ad_images/2012/2012-07-14/20120714190931-3mzHc9LWRV.png) 0 -147px no-repeat;height:105px;}

