.B_bor {
width: 655px;
overflow: hidden;
margin: 10px auto 5px;
background: #f5f9fc;
border: 1px solid #98c5e3;
padding: 5px;
line-height: 24px;
text-align: center;
}
.frmbtn_2 {
background: url("../Images/public/submit.gif") no-repeat;
width: 116px;
height: 30px;
font-weight: bold;
text-align: center;
}