.cardshow{
	float: left;
	width: 230px;
}
.formdiv{
	display: inline;
	float: right;
	width: 540px;
}
.cardimg, .vipcard{
margin: 10px;
width: 150px;
height: 83px;
}
.dcard1, .dcard2, .dcard3, .dcard4{
	width: 100%; display: none;
}
.dcardimgdiv, .dvipcardimgdiv{
	width: 290px;
	margin: 15px auto;
}
.dcardimg, .dvipcardimg{
	margin: 10px;
	width: 270px;
	height: 150px;
}
.cardimgbox {
float:left;margin:30px auto auto 10px;
}
.dcard_tip, .dvipcard_tip{
	margin: auto 3px;
}
#imfo_edit2 ul li{
	display:inline;
}
.dvipcard1, .dvipcard2, .dvipcard3, .dvipcard4{border-top:1px solid #f1cb95; display: none }