.up1{width:500px;float:left;height:35px;line-height:35px;padding-top:6px;}
#photofile{border:1px solid #7c9eba; height:22px; line-height:22px; padding-left:2px;width:480px;}
.up2{width:150px;float:left;height:35px;line-height:35px;}
.upimage{height:32px;width:112px;border-width:0px;cursor:pointer}
.up3{clear:both;width:600px; text-align:right;}