.wal {
width: 990px;
margin: 0px auto;
overflow: hidden;
}
.w780 {
width: 780px;
overflow: hidden;
}
.fr {
float: right;
}
.orange{
	color: #ff6633;
}
.BasicInfoPart1 tr {height: 36px;}
.BasicInfoPart1 th {
width: 81px;
text-align: right;
border-left: #f1cb95 solid 1px;
border-bottom: #f1cb95 solid 1px;
padding: 0 5px;
}
.BasicInfoPart1 td {
border-left: #f1cb95 solid 1px;
border-bottom: #f1cb95 solid 1px;
padding: 0 5px;
}
ul li {
list-style: none;
}

ul, p, dl, dt, dd {
padding: 0px;
margin: 0px;
}
.pageBox {
min-height: 50px;
border: #f1cb95 solid 1px;
}
.h10 {
height: 10px;
overflow: hidden;
clear: both;
}
.pageTitle2 {
height: 43px;
line-height: 43px;
}
.BasicInfoPart1 {
height: 179px;
overflow: hidden;
position: relative;
border: #f1cb95 solid 1px;
margin: 0 auto;
padding-left: 146px;
}
.pageTitle2 h2 {
height: 43px;
}
.pageTitle h2 {
padding-left: 26px;
height: 48px;
overflow: hidden;
}
.BasicInfoPart1 .imgDiv {
position: absolute;
z-index: 1;
left: 23px;
top: 28px;
width: 100px;
text-align: center;
overflow: hidden;
}
.BasicInfoPart1 .imgDiv img {
border: #333 solid 1px;
margin-bottom: 5px;
}
.BasicInfoPart2 li {
height: 35px;
line-height: 35px;
overflow: hidden;
position: relative;
border-bottom: #e5e5e5 solid 1px;
}
.BasicInfoPart2 .ico {
position: absolute;
z-index: 1;
left: 24px;
top: 9px;
height: 16px;
width: 16px;
}
.BasicInfoPart2 h5 {
padding-left: 50px;
}
.BasicInfoPart2 .msg {
height: 35px;
white-space: nowrap;
position: absolute;
z-index: 1;
left: 265px;
top: 0px;
padding-left: 5px;
border-left: #FFF solid 1px;
}
.BasicInfoPart2 .btn {
font-weight: bold;
color: #ff6600;
position: absolute;
z-index: 1;
top: 0px;
right: 6px;
white-space: nowrap;
}
.BasicInfoPart2 {
margin: 10px;
border: #e5e5e5 solid 1px;
border-bottom: 0px;
background: #ffffcc;
}
.lv{
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.lvrange_0{
	color: #aaaaaa;
}
.lvrange{
	color: #ff0000;
}
