.content_r{width:770px; float:right; margin-right: 3px; overflow: hidden; background: #fff; border: 1px #f1f1f1 solid;}
.H_top {
overflow: hidden;
background: url("../images/public/titlebg.gif") repeat-x;
height: 36px;
line-height: 36px;
margin: 0 auto;
}
.H_top b {
padding-left: 22px;
margin-left: 10px;
font-size: 18px;
color: #3281cf;
}
.H_l_top {
background-color: #ffffcc;
height: 29px;
line-height: 29px;
text-align: left;
}
.H_l_top span {
float: left;
width: 109px;
text-align: center;
border-right:1px solid #f1cb95;
}
.H_l_top span .a_bg1 {
background-color: #FFD582;
}
.H_l_top span a {
display: block;
height: 29px;
line-height: 29px;
text-decoration: none;
}
.bnt_submit{
background: url("../Images/public/bnt_submit.gif") no-repeat;
width: 116px;
height: 30px;
font-weight: bold;
text-align: center;
}
.frmbtn_2 {
background: url("../Images/public/submit.gif") no-repeat;
width: 116px;
height: 30px;
font-weight: bold;
text-align: center;
border-width:0px;
}
.B_bor {
overflow: hidden;
margin: 10px auto 5px;
background: #f5f9fc;
border: 1px solid #98c5e3;
padding: 5px;
line-height: 24px;
text-align: center;
}
.tip{
	font-size:12px;color:#00aa00;text-align: left;
}
.tdstyle{
	border-top:2px solid #ffffcc;
	background: url("../images/public/titlebg.gif") repeat-x;
}
#spage {
height: 32px;
line-height: 32px;
text-align: right;
}
#spage a {
padding: 2px 10px!important;
background: UrL(images/next_bg.jpg) repeat-x bottom;
border: 1px solid #bfbcb6;
}