vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_httpdversion:SX|Microsoft-IIS/5.0
vti_textextensions:SX|.txt.actproj.asm.c.cc.cod.cpp.cs.cxx.dbs.def.dsp.dsw.etp.ext.fky.h.hpp.hxx.i.idl.inc.inl.kci.lgn.lst.mak.map.mk.odh.odl.prc.rc.rc2.rct.rgs.rul.s.sql.srf.tab.tlh.tli.trg.txt.udf.udt.user.usr.vap.vcproj.viw.vsmproj.vspscc.vsscc.vssscc.
vti_featurelist:VX|vti_ACAll vti_ServerEmailTransport vti_ServerIndexServer
vti_dependenciesood:IR|0
vti_webservertype:SR|msiis
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_categories:VR|旅行 费用报表 商务 竞争 目的/目标 主意 杂项 等待 VIP 处理中 计划 日程表
vti_htmlextensions:SX|.htm.html.stm.html.htm.shtml.shtm.htt.htx.asp.alx.asa.
vti_approvallevels:VR|内容检查 合法检查 代码检查 经理评估
vti_timecreated:TR|02 Jun 2002 15:25:53 -0000
vti_extenderversion:SR|4.0.2.5526
vti_longfilenames:IX|1
vti_welcomenames:VX|Default.htm Default.asp iisstart.asp
vti_insecureserverurl:SR|http://trince-julie
vti_secureserverurl:SR|https://trince-julie
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
